<div class="team-grid">
    <a href="https://www.sandia.gov/" class="team-card" target="_blank" rel="noopener noreferrer">
        <div class="team-logo">
            <img src="images/sandia-logo.svg" alt="Sandia National Laboratories" />
        </div>
    </a>
    
    <a href="https://www.whoi.edu/" class="team-card" target="_blank" rel="noopener noreferrer">
        <div class="team-logo">
            <img src="images/woods-hole-logo.png" alt="Woods Hole Oceanographic Institution" />
        </div>
    </a>
    
    <a href="https://www.vt.edu/" class="team-card" target="_blank" rel="noopener noreferrer">
        <div class="team-logo">
            <img src="images/virginia-tech-logo.svg" alt="Virginia Tech" />
        </div>
    </a>
    
    <a href="https://www.ecu.edu/" class="team-card" target="_blank" rel="noopener noreferrer">
        <div class="team-logo">
            <img src="images/east-carolina-logo.svg" alt="East Carolina University" />
        </div>
    </a>
    
    <a href="https://www.jhu.edu/" class="team-card" target="_blank" rel="noopener noreferrer">
        <div class="team-logo">
            <img src="images/johns-hopkins-logo.svg" alt="Johns Hopkins University" />
        </div>
    </a>
    
    <a href="https://www.nrel.gov/" class="team-card" target="_blank" rel="noopener noreferrer">
        <div class="team-logo">
            <img src="images/national-lab-rockies-logo.webp" alt="National Laboratory of the Rockies" />
        </div>
    </a>
    
    <a href="https://teamer-us.org/facility/evergreen-innovations/" class="team-card" target="_blank" rel="noopener noreferrer">
        <div class="team-logo">
            <img src="images/evergreen-logo.webp" alt="Evergreen Innovations" />
        </div>
    </a>
</div>
